.container{
	width:80%;
	margin:0 auto;
	font-size:13px;
}
.container .mes{
	width:100%;
	margin-left:5px
}
.container .detail{
	margin-top: 20px;
	width: 100%;
	height: 500px;
	border-top: 3px solid #8cac7a;
	background-color:#f3f4f2;	
	
}
.detail .ti{
	font-size:15px;
	font:bolder;
	margin-left:30px;
	margin-top:20px;
	width:100%;
	height:50px;
}
.detail .info{
	font-size:13px;
	width:60%;
	height:300px;
	margin:0px auto;
	background-color:#f9f9f8;
}
.label1{
	font-size:13px;
	margin-left:20px;
}
.info .left{
	margin-top:35px;
	margin-left:60px;
	width:30%;
	float:left;
}
.info .right{
	margin-top:35px;
	margin-left:10px;
	width:40%;
	float:left;
}
.info .bottom{
	width:80%;
   margin:0 auto;
	min-height:50px;
	
}
.right .updateP{
	height:40px;
	width:100px;
}
.info .left p{
	text-align:right;
}