@CHARSET "UTF-8";
/**图标使用fontawesome,
使用方法：html中加上这一句，路径需要修改
<link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">**/

/**设置整个页面的字体**/
body{
font-family: 
	"Avenir Next", 
	Avenir, "Helvetica Neue", 
	Helvetica, "Nimbus Sans L", 
	Arial, "Liberation Sans", 
	"PingFang SC", "Hiragino Sans GB", 
	"Source Han Sans SC", "Microsoft YaHei", 
	"Wenquanyi Micro Hei", "WenQuanYi Zen Hei", 
	"ST Heiti", SimHei, "WenQuanYi Zen Hei Sharp", 
	sans-serif;
color:#666;
}

/**设置页面中链接的样式**/
a{
	text-decoration: none;
	color: #B1191A;
}

a:hover{
	color: #C81623;
}

/**设置表格的样式**/
table.altrowstable {
	border-collapse: collapse;
	width: 100%;
}
.altrowstable th {
	padding: 8px;
	color: #fff;
	background-color:#333;
}
.altrowstable td {
	padding: 8px;
	text-align: center;
}
/**奇数行和偶数行的颜色不同，需要配合使用script里的altRowColor函数使用**/
.oddrowcolor{
	background-color:#fff;
}
.evenrowcolor{
	background-color:#eee;
}
/**表格中的某一行被选定后的颜色**/
.selectrowcolor{
	background-color:#ff9900;
}

/**用于翻页,使用方法详见demo.html**/
div#pageList{
   display: inline-block;
}
a.page,a.prevPage,a.nextPage,a.endPage{
	border:1px solid #555;
	border-radius: 4px;
	color: #555;
	text-decoration:none;
	padding:5px 5px;
	display: inline-block;
	margin:0px 2px;
	text-align: center;
}
a.page:hover,a.prevPage:hover,a.nextPage:hover,a.endPage:hover,a.pageActive{
	background-color: #ff9900;
	border-color: #ff9900;
}
input#inputPages{
	width: 50px;
	border-radius: 4px;
}
/**翻页的div大小可以再修改**/
div#bottomList{
	height: 80px;
	width: 100%;
}
div#skipPages{
	margin-left: 25px;
	margin-top: 20px;
	display: inline-block;
}

/**设置页面中的输入框的基本样式，高度已经确定，宽度可以自己调**/
input{
	border:1px solid #D2D9DC;
	height: 25px;
	padding:0 5px;
}
input:FOCUS{
	border: 1px solid #b7d4ea;
}

/**提供几种input的样式**/
.input-long{
	width: 270px;
	height: 30px;
}

.input-common{
	width: 200px;
	height: 20px;
}

.input-submit{
	background-color: #B1191A;
	outline: none;
	color: #fff;
	border-radius: 3px;
	border:none;
	opacity: 0.8;
	cursor: pointer;
}

/****/
/**工具div**/
.clear-fix{
	clear: both;
}

/**分隔线，就一条线**/
.seperator{
	width: 100%;
	margin:0;
	border-top:1px solid rgba(151, 151, 151, 0.6);
}

.box{
	border-radius: 3px;
	box-shadow: 0px 0px 3px 0px rgba(5,6,5,0.5);
}

/**页面除了最上方的标题栏之外的部分**/
.wapper{
	margin:90px auto 20px auto;
	min-height:500px;
	width: 1000px;
}

/**回到页面最低端的按钮，需要与script.js中的backToTop函数一起使用**/
.backToTop{
	width: 100px;
	height: 100px;
	position: fixed;
}

/**向左偏移**/
.float-left{
	float: left;
}

/**向左偏移**/
.float-right{
	float: right;
}

/**标题栏**/
.header{
	position:fixed;
	left:0px;
	top:0px;
	z-index:10;
	width:100%;
	height:25px;
	line-height: 25px;
	background-color:#F1F1F1;
	box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.2);
	text-align:center;
}

/**网站的字,点击后返回首页**/
.title{
	float:left;
	width:150px;
	margin:0px;
	cursor: pointer;
}

.header a{
	color: #666;
	line-height: 30px;
	margin-right: 15px;
}

.header a:hover{
	color: #C81623;
}
/**-------------------------------------------------------**/

/**以下为登陆页面的css**/
.login-form-div{
	margin:0px auto;
	padding:20px;
	width: 450px;
	height: 520px;
}

.login-form-header{
	height: 50px;
	line-height: 50px;
	font-size: 25px;
	padding-left: 20px;
}

.login-info-input{
	margin:55px 20px;
}

.login-info-input .label{
	margin-left: 30px;
}

.login-info-input .input-long{
	margin-left: 20px;
}

.login-info-input .input-submit{
	width: 300px;
	height: 35px;
	font-size: 18px;
	margin: 0 12.5%;
}
/**---------------------------------------------------**/

/**标签字体**/
.label{
	font-size: 16px;
}

/**页面的足部**/
.footer{
	margin-top: 60px;
}

.footer-info{
	width: 280px;
	margin: 0 auto;
	text-align: center;
	color: #777;
}
/**---------------------------------------------------**/